---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="w-full flex flex-row gap-4 mt-8 mb-16 sm:mt-8 sm:mb-24">
            <div class="flex flex-col gap-8">
                {hero.image?.src && (
                    <figure>
                        <img class="w-18 float-left" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                        {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                    </figure>
                )}
                {hero.actions && hero.actions.length > 0 && (
                    <div class="flex flex-wrap gap-4">
                        {hero.actions.map((action) => (
                            <Button href={action.href}>{action.text}</Button>
                        ))}
                    </div>
                )}
            </div>
            <div class="flex flex-col gap-8">

                {hero.title && <h1 class="text-2xl leading-tight font-serif font-medium underline sm:text-2xl sm:leading-tight">{hero.title}</h1>}
                {hero.text && <div class="max-w-none font-serif sm:prose-lg" set:html={marked.parse(hero.text)} />}
            </div>
            
        </section>
    )
}
